.keypro--quick-address-search__modal-title,
.keypro--quick-search-title-dialog__modal-title {
    @extend .modal-title;

    color: #04468c;
    font-weight: bold;
    line-height: 15px;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 11px;
    text-transform: none;
}

.keypro--quick-search-title-dialog__title-label {
    @extend .col-sm-2;
    @extend .col-form-label;

    display: flex;
    align-items: center;
}

.keypro--quick-search-title-dialog__body {
    padding: 1rem 1rem 0 1rem;
    border-bottom-width: 0;
}

.keypro--quick-search-title-dialog__footer {
    padding: 0 1rem 1rem 1rem;
    border-color: #99bbe8;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.keypro--quick-search-title-dialog__ok-btn {
    @extend .btn;
    @extend .btn-success;
}
.keypro--quick-search-title-dialog__cancel-btn {
    @extend .btn;
    @extend .btn-danger;
}
