//.geo-coordinate-container {
//    @extend .fixed-top;
//
//    width: 250px;
//    top: 55px;
//}
//
//.geo-coordinates-card {
//    @extend .card;
//    @extend .shadow;
//
//    border-radius: 0 0 0.25em 0;
//    border: none;
//}
//
//.geo-coordinates-card__open-btn {
//    @extend .position-absolute;
//
//    left: 5px;
//    top: 5px;
//}
//
//.geo-coordinates-card__close-btn {
//    @extend .close;
//    @extend .position-absolute;
//
//    right: 5px;
//    top: -2px;
//}
