// Own variables
$gradient-start: #f1f4fe;
$gradient-end: #bcd5f0;

$hover-border-color: #b1badf;
$hover-background-color: #bcd5f0;

// Override Bootstrap variables
$body-bg: #fff;

// Modal section
$modal-content-bg: #e1ebfb;
$modal-content-border-radius: 0px;

$modal-header-padding: 4px 4px 2px 4px;
$modal-header-border-width: 1px;
$modal-header-border-color: #b1badf;

$modal-inner-padding: 0;

// Forms section
$input-border-radius: 0;
$input-padding-y: 0;
