.menu-map-control {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: max-content;
    max-height: 40vh;
    background-color: #fff;
}

#navbarToggleExternalContent {
    max-height: calc(40vh - 56px);
    overflow: auto;
}
