.keypro--footer-bar {
    @extend .navbar;
    min-height: 50px;
}

.keypro--footer-bar_theme_default {
    @extend .navbar-light;
    background-color: #ced9e7;
    border-width: 1px;
    border-style: solid;
    border-color: #a2b1c5;
    box-shadow: #ecf2fb 0 1px 0 0 inset, #ecf2fb 0 -1px 0 0 inset, #ecf2fb -1px 0 0 0 inset,
        #ecf2fb 1px 0 0 0 inset;
}

.keypro--coordinate-reader {
    margin-left: 15px;
}

.keypro--coordinate-reader__label {
    @extend .navbar-text;
}

.keypro--coordinate-reader__input {
    @extend .form-control;
    text-align: center;
}

.keypro--coordinate-reader__button {
    @extend .btn;
    @extend .btn-outline-info;
}
