// Top Bar Button
.keypro--top-bar__btn {
    @extend .btn;

    padding-bottom: 0;
    padding-top: 0;
}

.keypro--top-bar__btn_theme_default {
    &:hover {
        border: $hover-border-color 1px solid;
        border-radius: 0;
        background-color: $hover-background-color;
    }
}

.keypro--top-bar__btn_float_right {
    @extend .keypro--top-bar__btn;
    margin-left: auto;
}

// Top Bar Delimiter
.keypro--top-bar__delimiter {
}

.keypro--top-bar__delimiter_theme_default {
    border: $hover-border-color 1px solid;
}

// Top Bar Dropdown
.keypro--top-bar__dropdown {
    @extend .btn-group;

    .btn {
        @extend .keypro--top-bar__btn;
    }
}

.keypro--top-bar__dropdown-_theme_default {
    .btn {
        @extend .keypro--top-bar__btn_theme_default;
    }
}
.keypro--top-bar__dropdown-lst {
    @extend .dropdown-menu;

    & > .dropdown-item {
    }
}
