.keypro--top-bar {
    @extend .navbar;
    min-height: 50px;
}

.keypro--top-bar_theme_default {
    background-color: #ced9e7;
    border-width: 1px;
    border-style: solid;
    border-color: #a2b1c5;
    box-shadow: #ecf2fb 0 1px 0 0 inset, #ecf2fb 0 -1px 0 0 inset, #ecf2fb -1px 0 0 0 inset,
        #ecf2fb 1px 0 0 0 inset;
}
